CREATE TABLE Constants
(
	Name nvarchar(255) primary key,
	Value bigint NOT NULL,
);
Go

INSERT INTO Constants Values('Event',2403067);
Go

INSERT INTO Constants Values('ContractNumber',860450195);
Go